* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Mulish';
}

h1 {
  color: #02799D;
  font-size: 5.8rem;
  font-weight: 900;
  line-height: 5.2rem;
}

header p {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  color: #E1E1E6;
}

body {
  background-color: #121214;
  font-size: 1.6rem;
  display: grid;
  justify-content: center;
  padding: 7.2rem 10.4rem;
  }

main {
  margin-top: 6.2rem;
  display: grid;
  grid-template-columns: repeat(3, 37rem);
  row-gap: 4.8rem;
  column-gap: 6.0rem;
}

    
.card {
  background-color: #202024;
  border-radius: 0.8rem;
  border: 2px solid #323238;
  overflow: hidden;
}
      
.card h2 {
  color:#E1E1E6;
  font-weight: 900;
  font-size: 3.5rem;
  padding: 2.4rem 3.2rem 0;
}

.card p {
  color: #C4C4CC;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2.4rem 3.2rem 3.2rem;
}
